<!DOCTYPE html>
<html lang="en-US">
	<head>
		<meta charset="UTF-8" />
		<title>Andrea Mostosi - Personal page</title>
		<link rel="shortcut icon" href="icons/favicon.ico"/>
		<link rel="icon" href="icons/favicon.ico"/>
		<style>
		  *, html {margin: 0; padding: 0;}
		  html {background: url("images/background.jpg") no-repeat center center fixed #666; -webkit-background-size: cover; -moz-background-size: cover; -o-background-size: cover; background-size: cover; font-weight: 300; font-family: "Helvetica Neue", Helvetica, sans-serif; color: #fff; height: 100%;}
		  body {height: 100%;}
		  .shadow {background: rgb(0, 0, 0); background: rgba(0, 0, 0, 0.7); -moz-box-shadow: 0px 0px 10px #333; -webkit-box-shadow: 0px 0px 10px #333; box-shadow: 0px 0px 10px #333;}
      .social {margin: 5px;}
      #text {background: rgb(0, 0, 0); background: rgba(0,0,0,0.7);}
      #text p {font-size: 14px;}
      a {color: yellow; text-decoration: underline;}
      a:hover {color: orange;}
      .rounded {-webkit-border-radius: 15px; -moz-border-radius: 15px; border-radius: 15px;}
		</style>
	</head>
	
	<body>
	  <div style="width: 100%; height: 100%; display: table; text-align: center;">
      <div style="display: table-cell; vertical-align: middle;">
        <div style="width: 250px; padding: 15px; margin: auto;">
          <div>
            <img src="https://secure.gravatar.com/avatar/30616c35d48ad4103b57893d293af66d?size=200" style="border: 1px solid black;" class="shadow"/>
          </div>
          <div style="margin: 10px auto;">
            <a href="http://andreamostosi.name/twitter" title="Twitter"><img src="images/twitter.png" class="social shadow"/></a>
            <a href="http://andreamostosi.name/linkedin" title="LinkedIn"><img src="images/linkedin.png" class="social shadow"/></a>
            <a href="http://andreamostosi.name/github" title="GitHub"><img src="images/github.png" class="social shadow"/></a>
            <a href="http://blog.andreamostosi.name/" title="Wordpress"><img src="images/wordpress.png" class="social shadow"/></a>
          </div>
          <div id="text" style="padding: 20px;" class="rounded">
            <p>My name is <strong>Andrea Mostosi</strong>, I'm 27 and I currently live in Italy. More info about me: my <a href="http://andreamostosi.name/resume">LinkedIn résumé</a>, my <a href="http://andreamostosi.name/aboutme">About.me profile</a> and a <a href="http://www.google.com/search?q=andrea+mostosi">Google query</a> on my name</p>
          </div>
        </div>
      </div>
    </div>
	</body>

</html>